<header></header>

<div class="container-fluid clients">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="clientByName">Search:</label>
                <input
                    type="text"
                    name="clientByName"
                    class="form-control"
                    ng-model="vm.searchQuery"
                    placeholder="Enter customer's name"
                    ng-keydown="$event.keyCode === 13 && vm.onSearch()">
            </div>
            <div class="form-group">
                <button
                    ng-click="vm.onAddClient()"
                    class="btn btn-primary pull-right">Add Client</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1
                class="no_results"
                ng-if="!vm.list.data.length">There is no result by your query</h1>
            <div
                class="table-responsive"
                ng-if="vm.list.data.length">
                <table class="table table-hover">
                    <thead>
                        <th>Name</th>
                        <th>Mobile Phone</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="client in vm.list.data track by $index"
                            uisref="client({id: client.id})">
                            <td>{{client.name}}</td>
                            <td>
                                <input
                                    ng-readonly="true"
                                    class="input-phone"
                                    type='text'
                                    phone-input
                                    ng-model="client.phoneNumber">
                            </td>
                            <td class="">
                                <div class="client_controls">
                                    <span
                                        ng-click="vm.onAssign(client)" 
                                        title="Assign">
                                        <i class="material-icons">book</i>
                                    </span>
                                    <span
                                        title="Cancele booking">
                                        <i class="material-icons">restore</i>
                                    </span>
                                    <span
                                        title="Edit"
                                        ng-if="vm.admin"
                                        ng-click="vm.onEdit(client)">
                                        <i class="material-icons">mode_edit</i>
                                    </span>
                                    <span
                                        ng-click="vm.onDelete(client)"
                                        ng-if="vm.admin"
                                        title="Remove">
                                        <i class="material-icons">delete_forever</i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
