<header></header>

<div class="container-fluid clients">
    <div class="row">
        <div class="col-xs-12">
            <div class="btn-group pull-right">
                <button
                    ng-click="vm.onAddListGroup()"
                    class="btn btn-primary">
                    Add List Value Group
                </button>
                <button
                    ng-click="vm.onAddParameter()"
                    class="btn btn-primary">
                    Add Parameter
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h1
                class="no_results"
                ng-if="!vm.list.data.length">There is no result by your query</h1>
            <div
                class="table-responsive"
                ng-if="vm.list.data.length">
                <table class="table table-hover">
                    <thead>
                        <th>Name</th>
                        <th>Parameters</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <tr
                            ng-repeat="param in vm.list.data track by $index">
                            <td>{{param.name}}</td>
                            <td>{{param.type}}</td>
                            <td class="">
                                <div class="client_controls">
                                    <span
                                        ng-click="vm.onDelete(param)"
                                        title="Remove">
                                        <i class="material-icons">delete_forever</i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
