<div
    class="navbar"
    ng-class="{'admin--bg': vm.admin, 'user--bg': !vm.admin}">
    <div>
        <a
            class="tab"
            ui-sref="clients"
            ng-class="{active: vm.$state.includes('clients')}">
            Clients
        </a>
        <a
            class="tab"
            ui-sref="numbers"
            ng-class="{active: vm.$state.includes('numbers')}">
            Numbers
        </a>
        <a
            class="tab"
            ui-sref="number-types"
            ng-if='vm.admin'
            ng-class="{active: vm.$state.includes('number-types')}">
            Number Types
        </a>
        <a
            class="tab"
            ui-sref="parameters"
            ng-if='vm.admin'
            ng-class="{active: vm.$state.includes('parameters')}">
            Parameters
        </a>
        <a
            ng-if="vm.admin"
            ng-class="{active: vm.$state.includes('report')}"
            class="tab"
            ui-sref="report">
            Clients Report
        </a>
    </div>
    <div class="logout">
        <button
            class="tab btn btn-default"
            ng-click="vm.onLogout()">
            Logout
        </button>
    </div>
</div>
