<div class="dialog__header">
    <h2>Add New Type</h2>
</div>
<div class="dialog__content">
    <form novalidate name="addType">
        <div class="form-group required">
            <label
                for="name">Name</label>
            <input
                type="text"
                name="name"
                ng-required="true"
                ng-model="vm.name"
                class="form-control">
        </div>
        <div class="form-group required" ng-repeat="param in vm.paramList track by $index">
            <label for="val">{{param.name}}</label>
            <input
                ng-if="!param[param.key] || !param[param.key].name"
                type="text"
                name="val"
                ng-disabled='true'
                class="form-control"
                ng-model="param[param.key]">
            <input
                ng-if="param[param.key].dateValue"
                type="text"
                name="val"
                ng-disabled='true'
                class="form-control"
                ng-model="param[param.key] | date: 'medium'">
            <input
                ng-if="param[param.key].name"
                type="text"
                name="val"
                ng-disabled='true'
                class="form-control"
                ng-model="param[param.key].name">

        </div>
        <div class="form-group required">
            <label for="type">Type</label>
            <select
                type="text"
                name="type"
                ng-model="vm.parameter"
                ng-options="param as param.name for param in vm.parameterss"
                class="form-control"
                ng-change="vm.onSelect()">
                <option value="">Select parameter</option>
            </select>
        </div>
        <div class="form-group required" ng-if="vm.key === 'textValue' || vm.key === 'intValue'">
            <label for="val">Value</label>
            <input
                type="text"
                name="val"
                class="form-control"
                ng-model="vm.parameter[vm.key]">
        </div>

        <div class="form-group required" ng-if="vm.key === 'dateValue'">
            <label for="val">Value</label>
            <input
                type="date"
                name="val"
                class="form-control"
                ng-model="vm.parameter[vm.key]">
        </div>

        <div class="form-group required" ng-if="vm.key === 'listValue'">
            <label for="val">Value</label>
            <select
                ng-options="listValueItem as listValueItem.value for listValueItem in vm.parameter.listValueGroup.values"
                type="text"
                name="val"
                class="form-control"
                ng-model="vm.parameter[vm.key]">
                <option value="">Select option</option>
            </select>
        </div>

        <div class="form-group">
            <button class="form-control btn btn-success text-center" ng-click="vm.onAddParam()">+</button>
        </div>
    </form>
</div>
<div class="dialog__footer">
    <div class="form-group">
        <button
            class="btn btn-primary"
            ng-click="vm.onAdd()"
            ng-disabled="!addType.$valid">
            Add
        </button>
        <button
            class="btn btn-default"
            ng-click="vm.onClose()">
            Cancel
        </button>
    </div>
</div>
