<div class="dialog__header">
    <h2>Add New Type</h2>
</div>
<div class="dialog__content">
    <form novalidate name="addType">
        <div class="form-group required">
            <label
                for="name">Name</label>
            <input
                type="text"
                name="name"
                ng-required="true"
                ng-model="vm.name"
                class="form-control">
        </div>
        <div class="form-group required">
            <label for="type">Type</label>
            <select
                type="text"
                name="type"
                ng-model="vm.parameter"
                ng-options="param as param.name for param in vm.parameters"
                class="form-control">
                <option value="">Select parameter</option>
            </select>
        </div>
    </form>
</div>
<div class="dialog__footer">
    <div class="form-group">
        <button
            class="btn btn-primary"
            ng-click="vm.onAdd()"
            ng-disabled="!addType.$valid">
            Add
        </button>
        <button
            class="btn btn-default"
            ng-click="vm.onClose()">
            Cancel
        </button>
    </div>
</div>
