.dialog__header {
    h2 {
        font-size: 16px;
        font-weight: bold;
        margin-top: 0 !important;
    }
}

.ngdialog-close {
    padding: 0;
    border: 0;
    &:before {
        top: 14px !important;
    }
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
    right: 7px;
}
